<% obj.each do |article| %>
    <div>
      <div>
        <div>
          <div>
              <%= link_to article.title, article_path(article) %>
          </div>
          <div >
            <%= truncate(article.description, length: 100) %>
            <div >
              <small>Created by: <%= article.user.username if article.user%>,
                      <%= time_ago_in_words(article.created_at) %> ago,
                      last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
            </div>
          </div>
            <div >
                <% if logged_in? && (article.user == current_user || current_user.admin?)  %>
                  <%= button_to "Edit", edit_article_path(article), method: :get %>
                  <%= button_to "Delete", article_path(article), method: :delete, 
                                            data: { confirm: "Are you sure you want to delete the article?"} %>  
                <% end %>
          </div>
      </div>
    </div>
  <% end %>